NEXT_PUBLIC_NICKNAME=YOUR_NICKNAME
NEXT_PUBLIC_NAME=YOUR_NAME
NEXT_PUBLIC_EMAIL=YOUR_EMAIL
PRODUCTION_URL=YOUR_PROD_SITE_URL
GITHUB_USERNAME=YOUR_GITHUB_USERNAME
GITHUB_TOKEN=YOUR_GITHUB_TOKEN
BUILD_BYPASS_TOKEN="openssl rand -base64 32"