.item {
  display: grid;
  grid-template-columns: auto minmax(80px, 120px) minmax(200px, 1fr);
  column-gap: 10px;
  align-items: center;
}

.item > svg {
  font-size: 20px;
}

.instructor {
  word-break: keep-all;
  /* [Issue] 영어와 한글 혼용된 경우 keep-all 적용 X */
  overflow-wrap: break-word;
  /* 구형 브라우저 대응 */
  word-wrap: break-word;
}