.list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.item {
  display: grid;
  grid-template-columns: auto auto minmax(200px, 1fr);
  column-gap: 10px;
  align-items: center;
}

.item > svg {
  font-size: 20px;
}

.instructor {
  word-break: keep-all;
  /* 모바일 */
  width: 80px;
  white-space: pre-wrap;
}

/* 데스크톱 */
@media (min-width: 1024px) {
  .instructor {
    width: 150px;
    white-space: initial;
  }
}