.list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.range {
  font-size: 0.9rem;
  word-break: keep-all;
  margin-right: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-left: 10px;
  background-color: rgba(var(--alpha-rgb), 0.02);
}

.roleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 15px;
}

.company {
  margin-left: auto;
  word-break: keep-all;
  opacity: 0.8;
  font-size: 0.8rem;
}

.descList {
  padding: 10px 10px;
  padding-bottom: 15px;
  border-top: 1px solid var(--border-color);
}