.item {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(100px, 150px) minmax(200px, 500px);
  grid-template-areas:
    'range content';
}

.range {
  grid-area: range;
  word-break: keep-all;
  border-right: 1px solid var(--border-color);
  padding: 10px 0;
  padding-right: 15px;
  margin-right: 15px;
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  margin-bottom: 15px;
}

.nameWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.institution {
  margin-left: auto;
  word-break: keep-all;
  opacity: 0.8;
  font-size: 0.8rem;
}