:root {
  --background: #ffffff;
  --foreground: #181818;
  --background-main: #ededed;
  --border-color: #444444;
  --button-color: #9D9D9D;
  --button-active-background: #2A2D2E;
  --button-active-color: #CCCCCC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --foreground: #ededed;
    --background-main: #1F1F1F;
    --border-color: #444444;
    --button-color: #9D9D9D;
    --button-active-background: #2A2D2E;
    --button-active-color: #CCCCCC;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  min-width: 0px;
  outline: none;
}

button {
  outline: none;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}