.details {
  --summary-size: 30px;
  position: relative;
  overflow: hidden;
}

button.summary {
  position: sticky;
  width: 100%;
  height: var(--summary-size);
  background-color: transparent;
  border: none;
  display: flex;
  column-gap: 6px;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 0 10px;
}

button.summary:disabled {
  color: inherit;
  cursor: default;
}

.contentWrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  /* height: calc(100% - 30px); */
}

.contentWrapper.transition {
  transition: grid-template-rows 0.2s ease-in-out;
}

.details.active > .contentWrapper {
  grid-template-rows: 1fr;
}

.content {
  min-height: 0;
  margin: 0;
  list-style: none;
  overflow-y: auto;
  max-height: calc(100dvh - var(--header-size) - var(--footer-size) - var(--side-button-size) - (var(--side-padding) * 3) - var(--summary-size));
}