.ext {
  display: grid;
  column-gap: 10px;
  grid-template-areas:
    "icon name"
    "icon desc"
    "icon button";
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding: 5px 20px;
}

.ext > svg {
  grid-area: icon;
  width: 40px;
  height: 40px;
  align-self: center;
}

.extName {
  grid-area: name;
}

.extDesc {
  grid-area: desc;
  color: var(--item-active-color);
  font-size: 0.9rem;
}

.extButton {
  grid-area: button;
  border: none;
  border-radius: 2px;
  width: 80px;
  margin-left: auto;
}

.extButton.active {
  background-color: var(--primary);
}

.extButton.inactive {
  background-color: var(--item-inactive-color);
}