.github {
  display: flex;
  column-gap: 20px;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--background);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.github:hover {
  background-color: transparent;
}

.githubIcon {
  margin-right: 5px;
  transform: translateY(2px);
}

.url {
  font-size: 0.8rem;
  border-bottom: 1px solid var(--foreground);
}

.repoWrapper {
  font-size: 0.8rem;
  display: flex;
  column-gap: 6px;
}

.repo {
  margin-right: 5px;
}