.heading {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

h2.heading {
  justify-content: center;
  font-size: var(--font-size-xl);
  font-weight: 700;
  scroll-margin-top: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 0 10px;
}

h3.heading {
  font-size: var(--font-size-lg);
  padding: 10px 0;
}
