.header {
  grid-area: header;
  position: sticky;
  background-color: var(--background);
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  text-transform: uppercase;
}

.buttonList {
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

button.toggleButton {
  padding: 5px;
  color: var(--foreground);
  background-color: transparent;
  border: none;
}

button.toggleButton[class*="codicon-"] {
  font-size: 20px;
}