ul.list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

ul.list li {
  display: flex;
  flex-wrap: nowrap;
}

ul.list li:before {
  display: inline-block;
  content: "•";
  margin-right: 10px;
}