.sidebar {
  grid-area: aside;
  overflow: hidden;
  white-space: nowrap;
  height: calc(100% - var(--header-size));
  background-color: var(--background);
  width: var(--aside-width);
  top: var(--aside-top);
  right: var(--aside-right);
  position: var(--aside-position);
  z-index: var(--aside-zindex);
  padding: var(--aside-padding) 0;
  border-left: var(--aside-border);
  transition: var(--aside-transition);
  display: grid;
  grid-template-rows: auto 1fr;
}

.menuList {
  display: flex;
  justify-content: center;
  column-gap: 5px;
  margin-bottom: 10px;
}

button.menuButton {
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: transparent;
  color: var(--item-color);
  border: none;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

button.menuButton:hover,
button.menuButton:focus {
  background-color: var(--item-hover-background);
  color: var(--item-active-color);
}

button.menuButton.active {
  background-color: var(--item-active-background);
  color: var(--item-active-color);
}

i.icon[class*="codicon-"] {
  font-size: 20px;
}

.contentWrapper {
  overflow: hidden;
}