.sidebar {
  --side-button-size: 30px;
  grid-area: right;
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
  background-color: var(--background);
  width: var(--side-width);
  top: var(--side-top);
  right: var(--side-right);
  position: var(--side-position);
  z-index: var(--side-zindex);
  padding: var(--side-padding) 0;
  border-left: var(--side-border);
  transition: var(--side-transition);
  display: grid;
  grid-template-rows: auto 1fr;
}

.menuList {
  display: flex;
  justify-content: center;
  column-gap: 5px;
  margin-bottom: 10px;
}

button.menuButton {
  width: var(--side-button-size);
  height: var(--side-button-size);
  padding: 5px;
  background-color: transparent;
  color: var(--item-color);
  border: none;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

button.menuButton:hover,
button.menuButton:focus {
  background-color: var(--item-background-hover);
  color: var(--item-color-active);
}

button.menuButton.active {
  background-color: var(--item-background-active);
  color: var(--item-color-active);
}

i.icon[class*="codicon-"] {
  font-size: 1.3rem;
}

.contentWrapper {
  overflow-x: hidden;
}

.contentWrapper > *:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}