.eventList {
  height: 100%;
  overflow: auto;
}

.event:hover {
  background-color: var(--item-hover-background);
}

.eventLink {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 4px;
  font-size: 0.9rem;
  padding: 2px 4px;
}

.eventLink.private {
  pointer-events: none;
  cursor: default;
}

.eventType {
  text-transform: lowercase;
}

.createdAt {
  flex: 1;
}