.eventList {
  height: 100%;
  overflow: auto;
}

.eventList::-webkit-scrollbar {
  width: 8px;
}

.eventList::-webkit-scrollbar-track {
  background: transparent;
}

.eventList::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.5);
}

.eventList::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.7);
}

.event:hover {
  background-color: var(--item-hover-background);
}

.eventLink {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 4px;
  font-size: 0.9rem;
  padding: 2px 4px;
}

.eventLink.private {
  pointer-events: none;
  cursor: default;
}

.eventType {
  text-transform: lowercase;
}

.createdAt {
  flex: 1;
}