.menu {
  padding-left: 15px !important;
}

.menuLink {
  width: 100%;
  text-align: start;
}

.submenu {
  height: 35px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 35px;
}

.submenu.border {
  padding-left: 42px;
}

.submenu:last-child {
  margin-bottom: 5px;
}

.menu:hover,
.menu:focus,
.submenu:hover,
.submenu:focus {
  background-color: var(--item-background-hover);
}

.submenu.active {
  background-color: var(--item-background-active);
}

.submenu.border:before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: transparent;
  transform: translateX(-20px);
  transition: background-color 0.2s ease;
}

.menuContainer.containerActive .submenu.border:before,
.submenuList .submenu.border:before {
  background-color: var(--border-color-secondary);
}

.menuContainer:not(.containerActive):hover .submenu.border:before,
.menuContainer:not(.containerActive):focus .submenu.border:before,
.submenuList:hover .submenu.border:before,
.submenuList:focus .submenu.border:before {
  background-color: var(--item-background-active);
}

.submenuLink {
  display: inline-flex;
  align-items: center;
  column-gap: 6px;
  width: 100%;
  height: 100%;
}
