.terminal {
  font-family: var(--font-jetbrains-mono);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0 var(--bottom-padding-inner);
}

:global(html:not(.dark)) .terminal {
  --color-user: #107c10;
  --color-os: #bc05bc;
  --color-path: #6b6d00;
  --color-branch: #037a98;
  /* caret-color: var(--primary); */
}

:global(.dark) .terminal {
  --color-user: #0cb474;
  --color-os: #c353c3;
  --color-path: #e5e510;
  --color-branch: #11a8cd;
  /* caret-color: var(--foreground); */
}

.logs > .item {
  padding-bottom: 12px;
}

label.input {
  display: flex;
}

.terminal input.command {
  font-family: var(--font-jetbrains-mono);
  font-size: 0.9rem;
  flex: 1;
  background: transparent;
  border: none;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/caret-shape */
  caret-shape: block;
  mix-blend-mode: exclusion;
}

.input::before {
  content: "$ ";
  display: inline;
}

.input,
.output {
  white-space: pre-wrap;
}

.prompt {
  display: inline-flex;
  column-gap: 12px;
}

.prompt > .user {
  color: var(--color-user);
}

.prompt > .os {
  color: var(--color-os);
}

.prompt > .path {
  color: var(--color-path);
}

.prompt > .branch {
  color: var(--color-branch);
}
