/* 첫 번째 요소에만 scroll-snap 적용 */
.content {
  /* hydration error 방지 */
  display: block;
}

.content > section:first-child {
  /* .main: scroll-snap-type: y proximity */
  height: calc(var(--full-height) + var(--main-padding-bottom));
  /* main padding 때문에 스크롤 최상위로 붙지 않는 문제 해결 */
  scroll-margin-top: var(--main-padding-top);
  scroll-snap-align: start end;
  scroll-snap-stop: always;
}

/* 스크롤 시 더 강하게 당기게 함 */
.content > .stopper {
  height: 1px;
  margin-top: -1px;
  scroll-snap-align: start end;
  scroll-snap-stop: always;
}

.content > section:not(:first-child) {
  scroll-snap-align: none;
}
