.printPage :global(#profile),
.printPage :global(#skills),
.printPage :global(#projects),
.printPage :global(#experiences),
.printPage :global(#trainings),
.printPage :global(#courses) {
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

@media print {

  html,
  body {
    background: white !important;
    background-color: white !important;
  }

  .printPage :global(#projects) {
    page-break-before: always;
    margin-top: 0px;
  }

}