.header {
  grid-area: header;
  background-color: var(--background);
  border-bottom: 1px solid var(--border-color);
  z-index: var(--header-zindex);
  width: 100%;
  height: 100%;
  padding: 0 10px;
  display: grid;
  column-gap: 5px;
  grid-template-columns: auto 1fr auto;
  justify-items: center;
  align-items: center;
}

.title {
  max-width: 100%;
  min-width: 0;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttonList {
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

button.historyButton,
button.toggleButton {
  width: 26px;
  height: 26px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.historyButton {
  color: var(--item-color);
}

button.historyButton:hover {
  color: var(--item-hover-color);
}

button.toggleButton.right {
  color: var(--side-toggle-color);
}

button.toggleButton.bottom {
  color: var(--bottom-toggle-color);
}
