.list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.range {
  font-size: 0.9rem;
  word-break: keep-all;
  margin-right: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-left: 10px;
  background-color: var(--background-card);
  box-shadow: var(--card-shadow);
}

.roleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 15px;
  gap: 5px 10px;
}

.company {
  margin-left: auto;
  word-break: keep-all;
  opacity: 0.8;
  font-size: 0.8rem;
}

.responsibilityList {
  padding: 10px 10px;
  padding-bottom: 15px;
  border-top: 1px solid var(--border-color);
}

.stackWrapper {
  padding: 10px;
  border-top: 1px solid var(--border-color);
}

.stackList {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
}

.stack {
  font-size: 0.9rem;
  white-space: nowrap;
  background-color: rgba(var(--alpha-rgb), 0.08);
  border-radius: 3px;
  padding: 0 10px;
}

.descriptionList {
  padding: 10px;
  border-top: 1px solid var(--border-color);
}

.linkList {
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 5px;
  border-top: 1px solid var(--border-color);
}

.textWrapper {
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
}

.textWrapper > svg {
  flex-shrink: 0;
}

.linkWrapper {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.link {
  color: var(--color-anchor);
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s ease;
  word-break: break-all;
}

.link:hover,
.link:focus {
  border-color: var(--color-anchor);
}
