.project {
  border-radius: 10px;
  padding-bottom: 10px;
  background-color: var(--background-card);
  box-shadow: var(--card-shadow);
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 15px;
  border-bottom: 1px solid var(--border-color);
}

.title {
  width: 100%;
}

.rangeWrapper {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  /* 모바일 */
  margin-bottom: 5px;
}

/* 데스크톱 */
@media (min-width: 1024px) {
  .title {
    width: auto;
  }

  .rangeWrapper {
    margin-bottom: 0;
  }
}

.rangeWrapper > svg {
  transform: translateY(-1px);
}

.range {
  font-size: 0.9rem;
  opacity: 0.8;
}

.content {
  display: flex;
  flex-direction: column;
}

.content > * {
  padding: 10px;
}

.content > *:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.textWrapper {
  display: inline-flex;
  align-items: center;
  column-gap: 20px;
}

.textWrapper > svg {
  flex-shrink: 0;
}

.linkWrapper {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.link {
  color: var(--color-anchor);
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s ease;
  word-break: break-all;
}

.link:not(.inactive):hover,
.link:not(.inactive):focus {
  border-color: var(--color-anchor);
}

.link.inactive {
  color: var(--item-color-inactive);
  text-decoration: line-through;
  cursor: default;
  pointer-events: none;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5px;
}

.stackList {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
}

.stack {
  font-size: 0.9rem;
  white-space: nowrap;
  background-color: rgba(var(--alpha-rgb), 0.08);
  border-radius: 3px;
  padding: 0 10px;
}

.extraLinkList {
  display: flex;
  flex-direction: column;
}
