.thumb {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--background-card);
  box-shadow: var(--card-shadow);
}

.image {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  background-color: rgba(var(--alpha-rgb), 0.05);
}

.image > img {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.title {
  padding: 10px 15px;
  font-size: 0.95rem;
  font-weight: 600;
}
