.list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.range {
  font-size: 0.9rem;
  word-break: keep-all;
  margin-right: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-left: 10px;
  background-color: var(--background-card);
  box-shadow: var(--card-shadow);
}

.nameWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 15px;
  gap: 5px 10px;
}

.institution {
  margin-left: auto;
  word-break: keep-all;
  opacity: 0.8;
  font-size: 0.8rem;
}

.descList {
  padding: 10px 10px;
  padding-bottom: 15px;
  border-top: 1px solid var(--border-color);
}

.linkList {
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 5px;
  border-top: 1px solid var(--border-color);
}

.textWrapper {
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
}

.textWrapper > svg {
  flex-shrink: 0;
}

.link {
  color: var(--color-anchor);
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s ease;
  word-break: break-all;
}

.link:not(.inactive):hover,
.link:not(.inactive):focus {
  border-color: var(--color-anchor);
}

.link.inactive {
  color: var(--item-color-inactive);
  text-decoration: line-through;
  cursor: default;
  pointer-events: none;
}