:root {
  --font-size: 16px;
  --font-size-sm: 14px;
  --font-size-xxl: 40px;
  --rgb-light: 255, 255, 255;
  --rgb-dark: 0, 0, 0;
  --card-shadow:
    0 1px 2px rgba(var(--rgb-dark), 0.05),
    1px 0 2px rgba(var(--rgb-dark), 0.05),
    0 -1px 2px rgba(var(--rgb-dark), 0.05),
    -1px 0 2px rgba(var(--rgb-dark), 0.05);
}

html[data-theme="light"] {
  color-scheme: light;

  --alpha-rgb: var(--rgb-dark);
  --alpha-rgb-reverse: var(--rgb-light);
  --primary: #005fb8;
  --primary-light: #89befc;
  --primary-dark: #1a85ff;

  --background: #f8f8f8;
  --foreground: #181818;
  --foreground-secondary: #dddddd;
  --background-main: #ffffff;
  --background-card: rgba(var(--rgb-dark), 0.01);
  --color-anchor: var(--primary-dark);
  --border-color: #e5e5e5;
  --border-color-secondary: #a9a9a9;
  --item-color: #3b3b3b;
  --item-background-active: #e2e4ee;
  --item-background-hover: #f2f2f2;
  --item-color-active: #3b3b3b;
  --item-color-inactive: #cdd0d4;
  --background-input: #ffffff;
  --border-color-input: #cecece;
}

html[data-theme="dark"] {
  color-scheme: dark;

  --alpha-rgb: var(--rgb-light);
  --alpha-rgb-reverse: var(--rgb-dark);
  --primary: #0078d4;
  --primary-light: #3794ff;
  --primary-dark: #27568c;

  --background: #181818;
  --foreground: #ededed;
  --foreground-secondary: #393939;
  --background-main: #1f1f1f;
  --background-card: rgba(var(--rgb-dark), 0.1);
  --color-anchor: var(--primary-light);
  --border-color: #2b2b2b;
  --border-color-secondary: #585858;
  --item-color: #9d9d9d;
  --item-background-active: #37373d;
  --item-background-hover: #2a2d2e;
  --item-color-active: #cccccc;
  --item-color-inactive: #525252;
  --background-input: #313131;
  --border-color-input: #3c3c3c;
}

/* OS 설정 기본값 */
@media (prefers-color-scheme: dark) {
  html:not([data-theme]) {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  html:not([data-theme]) {
    color-scheme: light;
  }
}

@media (max-width: 768px) {
  :root {
    --font-size: 14px;
    --font-size-sm: 12px;
    --font-size-xxl: 30px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: var(--font-size);
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-noto-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  min-width: 0px;
  outline: none;
}

button {
  outline: none;
}

button:enabled {
  cursor: pointer;
}

.scrollbar::-webkit-scrollbar {
  /* 세로 스크롤바 */
  width: 8px;
  /* 가로 스크롤바 */
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.5);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.7);
}

.scrollbar::-webkit-scrollbar-corner {
  background-color: transparent;
}

.scrollbarHidden {
  scrollbar-width: none;
}

.scrollbarHidden::-webkit-scrollbar {
  display: none;
}
