/* 
1. CSS 변수 두 번째 인자는 fallback 값
2. CSS 모듈에서 컴포넌트 간 스타일 값 공유는 부모->자식으로 CSS 변수 사용
3. grid 를 사용한 레이아웃 구현 시 토글되는 영역의 padding 과 border 는 화면을 흔들리게 함
    따라서 닫힐 때 padding, border 제거 필요
    만약 transition 이 적용되어있는 경우 닫힐 때 padding, border 에 transition delay 필요
*/

.container {
  /* panel css variables */
  --header-zindex: 102;
  --side-zindex: inherit;
  --side-position: static;
  --header-size: 40px;
  --footer-size: 30px;
  --side-size: 250px;
  --bottom-size: 200px;
  --panel-padding: 10px;
  --panel-border: 1px solid var(--border-color);
  --hide-transition: padding 0s 0.3s, border 0s 0.3s;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-areas:
    "header header"
    "tabs right"
    "main right"
    "bottom right"
    "footer footer";
  transition:
    grid-template-columns 0.3s ease-in-out,
    grid-template-rows 0.3s ease-in-out;
}

/* 모바일 (768px 이하) */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: var(--header-height, 40px) var(--header-height, 40px) 1fr var(--bottom-height, 200px) var(--footer-height, 30px);
    --side-toggle-color: var(--item-color-inactive);
    --bottom-toggle-color: var(--item-color-inactive);

    --side-position: fixed;
    --side-zindex: 101;
    --side-right: calc(var(--side-size) * -1);
    --side-top: var(--header-size);

    --side-height: calc(100dvh - var(--header-size));
    --side-width: var(--side-size);
    --side-padding: var(--panel-padding);
    --side-border: var(--panel-border);
    --side-transition: right 0.3s ease-in-out;

    --bottom-height: 0px;
    --bottom-padding: 0px;
    --bottom-border: none;
    --bottom-transition: var(--hide-transition);
  }

  .container[data-right="true"] {
    --side-toggle-color: var(--item-color-active);
    --side-right: 0;
  }

  /* mobile Overlay */
  .container[data-right="true"] > .overlay {
    opacity: 1;
    visibility: visible;
  }

  .container[data-bottom="true"] {
    --bottom-toggle-color: var(--item-color-active);
    --bottom-height: var(--bottom-size);
    --bottom-padding: var(--panel-padding);
    --bottom-border: var(--panel-border);
    --bottom-transition: none;
  }
}

/* mobile Overlay */
.container > .overlay {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

/* 태블릿 ~ 데스크톱 (769px 이상) */
@media (min-width: 769px) {
  .container {
    grid-template-columns: 1fr var(--side-width, 200px);
    grid-template-rows: var(--header-height, 40px) var(--header-height, 40px) 1fr var(--bottom-height, 0) var(--footer-height, 30px);
    --bottom-toggle-color: var(--item-color-inactive);

    --side-height: calc(100dvh - var(--header-size) - var(--footer-size));
    --side-width: var(--side-size);
    --side-padding: var(--panel-padding);
    --side-border: var(--panel-border);
    --side-transition: none;

    --bottom-height: 0px;
    --bottom-padding: 0px;
    --bottom-border: none;
    --bottom-transition: var(--hide-transition);
  }

  .container[data-right="false"] {
    --side-toggle-color: var(--item-color-inactive);
    --side-width: 0px;
    --side-padding: 0px;
    --side-border: none;
    --side-transition: var(--hide-transition);
  }

  .container[data-bottom="true"] {
    --bottom-toggle-color: var(--item-color-active);
    --bottom-height: var(--bottom-size);
    --bottom-padding: var(--panel-padding);
    --bottom-border: var(--panel-border);
    --bottom-transition: none;
  }
}

.main {
  /* 모바일 기본값 변수 선언 */
  --main-padding-top: 1rem;
  --main-padding-bottom: 1rem;
  --main-padding-side: 1rem;
  --full-height: calc(100dvh - var(--main-padding-top) - var(--main-padding-bottom) - var(--bottom-height) - (var(--header-size) * 2));

  grid-area: main;
  height: 100%;
  padding: var(--main-padding-top) var(--main-padding-side) var(--main-padding-bottom);
  overflow-y: auto;
  background-color: var(--background-main);
  /* scroll snap */
  scroll-snap-type: y proximity;
  /* scroll-behavior: smooth; */
  /* overscroll-behavior: contain; */
}

/* 태블릿 (768px 이상) */
@media (min-width: 769px) {
  .main {
    --main-padding-top: 20px;
    --main-padding-bottom: 60px;
    --main-padding-side: 2%;
  }
}

/* 데스크톱 (1024px 이상) */
@media (min-width: 1024px) {
  .main {
    --main-padding-top: 20px;
    --main-padding-bottom: 60px;
    --main-padding-side: 15%;
  }
}