.sidebar {
  --side-button-size: 30px;
  grid-area: right;
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
  background-color: var(--background);
  width: var(--side-width);
  top: var(--side-top);
  right: var(--side-right);
  position: var(--side-position);
  z-index: var(--side-zindex);
  padding-top: var(--side-padding);
  border-left: 1px solid transparent;
  border-color: var(--side-border-color);
  transition: var(--side-transition);
  display: grid;
  grid-template-rows: auto 1fr;
}

/* 태블릿 (768px 이상) */
@media (min-width: 769px) {
  .sidebar {
    width: 100%;
  }
}

.menuList {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: var(--side-padding);
}

button.menuButton {
  width: var(--side-button-size);
  height: var(--side-button-size);
  padding: 5px;
  background-color: transparent;
  color: var(--item-color);
  border: none;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

button.menuButton:hover,
button.menuButton:focus {
  background-color: var(--item-background-hover);
  color: var(--item-color-active);
}

button.menuButton.active {
  background-color: var(--item-background-active);
  color: var(--item-color-active);
}

i.icon[class*="codicon-"] {
  font-size: 1.3rem;
}

.contentWrapper {
  --content-height: calc(
    var(--side-height) - var(--side-button-size) - (var(--side-padding) * 2)
  );
  overflow-x: hidden;
  max-height: var(--content-height);
}

.contentWrapper:global(.scrollbarHidden) {
  overflow-y: hidden;
}

.contentWrapper > *:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}
